<ion-card class="ion-no-margin">
  <div class="ion-padding">
    <div class="row-card">
      <div>
        <ion-avatar class="avatar">
          <img src="https://pbs.twimg.com/profile_images/1387084264014024705/m_y0DmIE.jpg" />
        </ion-avatar>
      </div>
      <div>
        <ion-item lines="none">
          <ion-label>
            Diego Rambao
            <small>@diegorambao</small>
          </ion-label>
          <ion-icon name="ellipsis-vertical-outline" slot="end"></ion-icon>
        </ion-item>


        <p class="description ion-padding-start ion-padding-end">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sapiente architecto rem pariatur dolor omnis, labore obcaecati! Officia repellat dignissimos eos cumque eveniet hic, suscipit rem labore, ipsa ex veniam tempora vitae ipsum dolorum! Reprehenderit, quis! Saepe culpa praesentium vero adipisci!</p>

        <ion-buttons>
          <ion-button>
            <ion-icon name="chatbubble-outline" slot="start"></ion-icon>
            50
          </ion-button>
          <ion-button>
            <ion-icon name="git-compare-outline" slot="start"></ion-icon>
            36
          </ion-button>
          <ion-button>
            <ion-icon name="heart-outline" slot="start"></ion-icon>
            594
          </ion-button>
          <ion-button>
            <ion-icon name="share-social-outline" slot="icon-only"></ion-icon>
          </ion-button>
        </ion-buttons>
      </div>
    </div>
  </div>
</ion-card>
